.main-content{
  flex-grow: 1;
  background-color: #f6f6f6;
}
.content{
  background-color: white;
  padding: 50px 50px
}

@media only screen and (max-width: 500px) {
  .content{
    padding: 1.45rem;
    min-width: 450px;
  }
  main{
    overflow-x: scroll;
  }
}
